= form_tag (f_action.nil?)? comments_post_path : comments_post_path(replay: f_action), class: 'form-horizontal' do 
	= hidden_field_tag "id", @post.id
	= text_area_tag "comment[comment]", '', {rows: 4, maxlength: 100, class: 'redex'}
	.btn-toolbar
		= submit_tag "Post Comment", class: 'btn'