- model_class = Post
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th Moderation
      %th= model_class.human_attribute_name(:title)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render @posts
