/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require redactor-rails
 */

@import "bootstrap.scss";
@import 'bootstrap-responsive';

#main_block {
  padding-top: 50px;
  .well.sidebar-nav {
    position: fixed;
  }
  .redex {
  	resize: none;
  }
  .replay_form {
  	display: none;
  }
  .highlight { background-color: yellow }
}

.authorithation_page {
  background-color: #142849;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#165387),to(#142849));
  background-image: -webkit-radial-gradient(circle,#165387,#142849);
  background-image: -moz-radial-gradient(circle,#165387,#142849);
  background-image: -o-radial-gradient(circle,#165387,#142849);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: inline-block;
  color: #fff;
  .wrap_authorithation-from {
    width: 300px;
    margin: 20% auto;
  }
}
